<ion-view view-title="Checklist Religioso e civil">
    <ion-content>
        <h1>Religioso e civil</h1>

        <div>
            <form id="form" name="form" ng-submit="ceremonySubmit()">

                <!--checklist de data do religioso-->
                <ion-checkbox ng-init='checkStatus=false' ng-model="religiousDateCheck">Data Religioso</ion-checkbox>
                <input id="religiousDate" name="religiousDateInput" ng-disabled="!religiousDateCheck" ng-model="ceremonyData.religiousDate" type="date" />
                <!--checklist de data do civil-->
                <ion-checkbox ng-init='checkStatus=false' ng-model="civilDateCheck">Data civil</ion-checkbox>
                <input id="civilDate" name="civilDateInput" ng-disabled="!civilDateCheck" ng-model="ceremonyData.civilDate" type="date" />

                <ion-checkbox ng-init='false' ng-model='allianceCheck'> Alian&Ccedil;a</ion-checkbox>
                <input ng-model='ceremonyData.alliance' type='text' ng-disabled='!allianceCheck' />

                <ion-checkbox ng-init='false' ng-model='registryCheck'> Registro</ion-checkbox>
                <input ng-model='ceremonyData.registry' type='text' ng-disabled='!registryCheck' />

                <ion-checkbox ng-init='false' ng-model='bridesmaidCheck'> bridesmaid</ion-checkbox>
                <input ng-model='ceremonyData.bridesmaid' type='text' ng-disabled='!bridesmaidCheck' />

                <ion-checkbox ng-init='false' ng-model='documentationCheck'> Documentação</ion-checkbox>
                <input ng-model='ceremonyData.documentation' type='text' ng-disabled='!documentationCheck' />

                <ion-checkbox ng-init='false' ng-model='fatherAndChurchCheck'> Padre e igreja</ion-checkbox>
                <input ng-model='ceremonyData.fatherAndChurch' type='text' ng-disabled='!fatherAndChurchCheck' />

                <ion-checkbox ng-init='false' ng-model='godparentsCheck'> Padrinhos</ion-checkbox>
                <input ng-model='ceremonyData.godparents' type='text' ng-disabled='!godparentsCheck' />

                <ion-checkbox ng-init='false' ng-model='bridgeClothingCheck'> Vestido da noiva</ion-checkbox>
                <input ng-model='ceremonyData.bridgeClothing' type='text' ng-disabled='!bridgeClothingCheck' />

                <ion-checkbox ng-init='false' ng-model='groomClothingCheck'> Roupa do noivo</ion-checkbox>
                <input ng-model='ceremonyData.groomClothing' type='text' ng-disabled='!groomClothingCheck' />

                <ion-checkbox ng-init='false' ng-model='witnessesCheck'> Testemunhas</ion-checkbox>
                <input ng-model='ceremonyData.witnesses' type='text' ng-disabled='!witnessesCheck' />
                <br />
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Salvar</button>
                </label>
            </form>
        </div>
    </ion-content>
</ion-view>
