<ion-view view-title="O dia esperado">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/ceremony">
                Checklist civil e religioso
            </ion-item>
            <ion-item href="#/app/party">
                Checklist Festa
            </ion-item>
            <ion-item href="#/app/dress">
                Prova do vestido
            </ion-item>
            <ion-item href="#/app/invitation">
                Convites e papelaria
            </ion-item>
            <ion-item href="#/app/guests_list">
                Lista de convidados
            </ion-item>

            <ion-item href="#/app/user_check">
                Checlists do usuario
            </ion-item>

            <ion-item href="#/app/cam">
                Capturar um momento
            </ion-item>
            <br />
            <br />
            <ion-item href="#/app/timeline">
                Timeline
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
