<ion-view view-title="O dia esperado">
  <ion-content>
    <ion-list>
        <ion-item href="#/app/ceremony">
            Checklist civil e religioso
        </ion-item>
        <ion-item href="#/app/checklists/party">
            Checklist Festa
        </ion-item>
        <ion-item href="#/app/checklists/dress">
            Prova do vestido
        </ion-item>
        <ion-item href="#/app/checklists/invitation">
            Convites e papelaria
        </ion-item>
        <ion-item href="#/app/checklists/guests_list">
            Lista de convidados
        </ion-item>
        <ion-item href="#/app/checklists/annotations">
            Bloco de anota&ccedil;&otilde;es
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
